body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Microsoft YaHei, Source Han Sans SC, Noto Sans CJK SC, WenQuanYi Micro Hei, sans-serif;
  font-size: 15px;
  color: #1a1a1a;
}
.text-center {
  text-align: center;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.readme {
  border: solid 1px #dae4ef;
  border-radius: 4px;
  overflow: hidden;
}
.readme .title {
  background-color: #F6F8FA;
  line-height: 35px;
  border-bottom: inherit;
  padding: 0 15px;
}
.readme .content {
  padding: 15px;
}
.main-header {
  line-height: 35px;
}
.main-footer {
  line-height: 35px;
  font-size: 12px;
  min-height: 150px;
  color: #91979e;
}
.main-footer .line {
  border-top: solid 1px #eaecef;
  margin-top: 50px;
  margin-bottom: 25px;
}
.main-footer .nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-footer .nav-list li {
  display: inline-block;
}
.main-footer .nav-list li a {
  text-decoration: none;
  color: #1779F7;
}
.main-footer .nav-list li + li {
  margin-left: 15px;
}
.main-container {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}
.doc-container {
  max-width: 760px;
  padding: 15px;
  margin: 0 auto;
}
.m-input {
  border-radius: 3px;
  border: solid 1px #DEE0E5;
  padding: 5px 10px;
  outline: none;
  height: 35px;
  box-sizing: border-box;
  vertical-align: middle;
}
.m-input:focus {
  border-color: #17a4f7;
  box-shadow: 0 0 0 3px rgba(23, 121, 247, 0.2);
}
.m-btn {
  outline: none;
  height: 35px;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #1CA5FF;
  border: solid 1px #1CA5FF;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
}
.m-btn:hover {
  background-color: #34ADFA;
}
.m-btn:active {
  background-color: #129DF7;
}
