.m-loading-icon {
  width: 40px;
  height: 40px;
  stroke: #343640;
  stroke-width: 2;
  stroke-linecap: round;
  background: none;
  vertical-align: middle;
}
.m-loading-icon .m-loading-icon-bg-path{
  fill: none;
  stroke: #F2F2F2;
}
.m-loading-icon .m-loading-icon-active-path{
  fill: none;
  stroke: #20a0ff;
}

.m-loading-wipe{
  animation: loading-rotate 2s linear infinite;
}
.m-loading-wipe .m-loading-icon-active-path{
  stroke-dasharray: 90, 150;
  stroke-dashoffset: 0;
  animation: loading-wipe 1.5s ease-in-out infinite;
}
.m-loading-default {
  animation: loading-rotate 0.8s linear infinite;
}
.m-loading-default .m-loading-icon-active-path{
  stroke-dasharray: 60, 150;
}

@keyframes loading-rotate{
  to{transform:rotate(1turn)}
}
@keyframes loading-wipe{
  0%{
    stroke-dasharray:1,200;
    stroke-dashoffset:0;
  }
  50%{
    stroke-dasharray:90,150;
    stroke-dashoffset:-40px;
  }
  to{
    stroke-dasharray:90,150;
    stroke-dashoffset:-120px;
  }
}