.v-navs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.v-navs .v-navs-item {
  display: inline-block;
  color: #323b44;
}
.v-navs .v-navs-item + .v-navs-item {
  margin-left: 10px;
}
.v-navs .v-navs-item a {
  text-decoration: none;
  color: inherit;
}
.v-navs .v-navs-item a:hover {
  color: #3798f9;
}
.v-navs .v-navs-item a.router-link-exact-active {
  color: #768594;
}
.v-navs .v-navs-item--label {
  padding: 0 10px;
  font-weight: 600;
}
