.m-demo-block {
  border: solid 1px #d7e2ea;
  border-radius: 3px;
  margin-bottom: 15px;
}
.m-demo-block .demo {
  padding: 15px;
}
.m-demo-block .code {
  border-top: solid 1px #d7e2ea;
}
.m-demo-block .code pre {
  margin-bottom: 0;
}
