.m-message-container {
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
  pointer-events: none
}
.m-message {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  margin: 5px;
  padding: 10px 16px;
  font-size: 14px;
  overflow: hidden;
  display: flex;
  align-items: center;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0,0,0,.15);
  color: rgba(0,0,0,.65);
  background: rgba(255,255,255,0.95);
  top: 20px;
  pointer-events: all;

  & &__close{
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    padding-left: 10px;
  }
}

.m-message-fade-enter-active{
  animation: m-message-fade-in 0.3s;
}
.m-message-fade-leave-active{
  animation:m-message-fade-out 0.3s;
}

@keyframes m-message-fade-in {
  0%{
    top: 0px;
    opacity: 0;
  }
  100% {
    top: 20px;
    opacity: 1;
  }
}

@keyframes m-message-fade-out {
  0%{
    top: 20px;
    opacity: 1;
  }
  100% {
    top: 0px;
    opacity: 0;
  }
}
