body{
  padding: 0;
  margin: 0;
  color: #2c3e50;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #eceeef;
  font-size: 14px;
}
header {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
  background: #05a56a;
  color: #fff;
  
}
header h1{
  font-weight: 100;
  font-family: 'Cabin Sketch', 'Avenir', Helvetica, Arial, sans-serif;
}
main {
  margin: 0 auto;
  margin-top: 30px;
  border-radius: 5px;
  padding: 20px 25px;
  max-width: 800px;
  margin-bottom: 100px;
  background: #fff;
  box-sizing: border-box;
}
blockquote {
  margin: 0;
  padding: 0.05em 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
  background: #f3f3f3;
}
a{
  color: #0366D6;
  text-decoration: none;
}
.hljs{
  background: #f6f8fa;
}
.user-img{
  width: 20px;
  height: 20px;
  border-radius: 3px;
  margin-right: 5px;
  vertical-align: middle;
}
code {
  color: #d438c7;
  padding: 0.2em 0.4em;
  margin: 0;
  font-size: 85%;
  background-color: #f6f8fa;
  border-radius: 3px;
  font-family: "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
}

.doc-block table {
  border-collapse: collapse;
  width: 100%;
  background-color: #fff;
  font-size: 14px;
  margin-bottom: 45px;
  line-height: 1.5em;
  text-align: left;
}
.doc-block table td,
.doc-block table th
{
  border-bottom: 1px solid #d8d8d8;
  padding: 15px;
  max-width: 250px;
}

.doc-block p{
  margin-bottom: 16px;
  padding: 5px 0;
}
.doc-block h1,
.doc-block h2,
.doc-block h3,
.doc-block h4{
  padding: 10px 0;
}
.doc-block h1,
.doc-block h2,
.doc-block h3,
.doc-block h4,
.doc-block h5,
.doc-block h6 {
  margin-top: 24px;
  margin-bottom: 16px;
}
.doc-block pre{
  padding: 10px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f6f8fa;
  border-radius: 3px;
}